<mat-toolbar>
  <span>Reset password</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="form" class="my-form">

      <div>
        <mat-form-field class="full-width">
          <mat-label>Old password</mat-label>
          <input [formControlName]="'oldPassword'" matInput type="password">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>New password</mat-label>
          <input [formControlName]="'newPassword'" matInput type="password">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Repeat password</mat-label>
          <input [formControlName]="'repeatedNewPassword'" matInput type="password">
        </mat-form-field>
      </div>

      <mat-error>
        <span *ngIf=" resetResult === ResetPasswordResult.INVALID_TOKEN">Token invalid or expired</span>
        <span *ngIf=" resetResult === ResetPasswordResult.OLD_PASSWORD_NOT_MATCHED">Incorrect old password</span>
        <span *ngIf="notEqualPassword">Passwords don't match</span>
      </mat-error>

    </form>

  </mat-card-content>
  <mat-card-actions>
    <button (click)="resetPassword()" mat-raised-button color="primary">Reset</button>
  </mat-card-actions>
</mat-card>
