<mat-toolbar>
  <span>Reset password</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="form" class="my-form">

      <div>
        <mat-form-field class="full-width">
          <mat-label>Old password</mat-label>
          <input [formControlName]="'oldPassword'" matInput required type="password">
        </mat-form-field>
      </div>

      <div class="errors"
           *ngIf="form.get('oldPassword')?.invalid && (form.get('oldPassword')?.touched || form.get('oldPassword')?.dirty)">
        Invalid password
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>New password</mat-label>
          <input [formControlName]="'newPassword'" matInput required type="password">
        </mat-form-field>
      </div>

      <div class="errors"
           *ngIf="form.get('newPassword')?.invalid && (form.get('newPassword')?.touched || form.get('newPassword')?.dirty)">
        Invalid password
      </div>

      <div>
        <mat-form-field class="full-width">
          <mat-label>Repeat password</mat-label>
          <input [formControlName]="'repeatedNewPassword'" matInput required type="password">
        </mat-form-field>
      </div>

      <div class="errors"
           *ngIf="form.get('repeatedNewPassword')?.invalid && (form.get('repeatedNewPassword')?.touched || form.get('repeatedNewPassword')?.dirty)">
        Invalid password
      </div>

      <mat-error>
        <span *ngIf=" resetResult === ResetPasswordResult.INVALID_TOKEN">Token invalid or expired</span>
        <span *ngIf=" resetResult === ResetPasswordResult.OLD_PASSWORD_NOT_MATCHED">Incorrect old password</span>
        <span *ngIf="notEqualPassword">Passwords don't match</span>
      </mat-error>

    </form>

  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!form.valid" (click)="resetPassword()" mat-raised-button color="primary">Reset</button>
  </mat-card-actions>
</mat-card>
