<ng-container *ngIf="!completedRegistration">
  <mat-toolbar>
    <span>Registration</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>

      <form [formGroup]="form" class="my-form">

        <div>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input [formControlName]="'email'" type="email" matInput ngModel email="true">
          </mat-form-field>
        </div>

        <div class="errors"
             *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
          Invalid email
        </div>

        <br>

        <div>
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input [formControlName]="'username'" matInput>
          </mat-form-field>
        </div>

        <div class="errors"
             *ngIf="form.get('username')?.invalid && (form.get('username')?.touched || form.get('username')?.dirty)">
          Invalid username
        </div>

        <br>

        <div>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input [formControlName]="'password'" type="password" matInput>
          </mat-form-field>
        </div>

        <div class="errors"
             *ngIf="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)">
          Invalid password
        </div>

        <br>

        <div>
          <mat-form-field class="full-width">
            <mat-label>Repeat password</mat-label>
            <input [formControlName]="'repeatedPassword'" type="password" matInput>
          </mat-form-field>
        </div>

        <div class="errors"
             *ngIf="form.get('repeatedPassword')?.invalid && (form.get('repeatedPassword')?.touched || form.get('repeatedPassword')?.dirty)">
          Invalid password
        </div>


        <mat-error>
          <span *ngIf="registrationResult === RegistrationResult.UNAVAILABLE_EMAIL">Email unavailable</span>
          <span *ngIf="registrationResult === RegistrationResult.UNAVAILABLE_USERNAME">Username unavailable</span>
          <span *ngIf="notEqualPassword">Passwords don't match</span>
        </mat-error>

      </form>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!form.valid" (click)="register()" mat-raised-button color="primary">Register</button>
    </mat-card-actions>
    <span><a [routerLink]="'../login'">Login</a></span>
  </mat-card>
</ng-container>

<ng-container *ngIf="completedRegistration">
  <div>Successful registration</div>
</ng-container>
