<ng-container *ngIf="!forgotPasswordEmailSent">
  <mat-toolbar>
    <span>Forgot password</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>

      <form [formGroup]="form" class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input [formControlName]="'email'" type="email" matInput>
        </mat-form-field>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="resetPassword()" mat-raised-button color="primary">Send</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-container *ngIf="forgotPasswordEmailSent">
  <span>Email sent</span>
</ng-container>
